# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components


#intelij project files
*.iml
*.ipr
*.iws
.idea/


#eclipse project files
*.pydevproject
.project
.metadata


#sublime text
# SublimeText project files
*.sublime-workspace

#linux/vi stuff
*.tmp
*.bak
*.swp

#mac stuff
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
