<div id="lfmPostCreation" class="overlay">
    <div class="overlayContent">
        <h2>LFM Post Creation</h2>
        
        <form method="post" action="/createPost" class="overlayForm">
            <div class="input">
                <!-- Game Type -->
                
                
                <!-- Description -->
                
                
                <!-- Days planned to meet (schedule) -->
                
                
                <!-- If DM Required -->
                
                
                <!-- Character Levels -->
                
                
                <!-- Homebrew or Prebuilt -->
                
                
                <!-- Novice Friendly -->
                
                
                <!-- Number of Players Needed -->
                
                
            </div>
            <div class="overlayButtons">
                <a class="overlaySubmit" href="#">Submit</a>
                <a class="overlayCancel" href="#">Cancel</a>
            </div>
        </form>
        
    </div>
</div>