<div id="postCreation" class="overlay">
    <div class="postCreation">
        <h2>LFM Post Creation</h2>
        
        <div class="content">
            <form method="post" action="/createPost">
                <div class="input">
                    <!-- Game Type -->
                    
                    
                    <!-- Description -->
                    
                    
                    <!-- Days planned to meet (schedule) -->
                    
                    
                    <!-- If DM Required -->
                    
                    
                    <!-- Character Levels -->
                    
                    
                    <!-- Homebrew or Prebuilt -->
                    
                    
                    <!-- Novice Friendly -->
                    
                    
                    <!-- Number of Players Needed -->
                    
                    
                </div>
                <div class="moduleButtons">
                    <a class="lfmSubmit" href="#">Submit</a>
                    <a class="lfmCancel" href="#">Cancel</a>
                </div>
            </form>
        </div>
        
    </div>
</div>