<div id="register" class="overlay">
    <div class="overlayContent">
        <h2>Sign up!</h2>
        
        <form method="post" action="/signin" class="overlayForm">
            <div class="input">
                <!-- Username -->
                <!-- First Name -->
                <!-- Last Name -->
                <!-- Location -->
                <!-- Email -->
                <!-- Password -->
            </div>
            <div class="overlayButtons">
                <a class="overlaySubmit" href="#signin">Submit</a>
                <a class="overlayCancel" href="#signin">Cancel</a>
            </div>
        </form>
        
    </div>
</div>