<div id="register" class="overlay">
    <div class="overlayContent">
        <h2>Sign up!</h2>
        <hr>
        
        <form id="register"action="/register" method="post"  class="overlayForm">
            <div class="formElement">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required />
                </div>
            </div>
            <div class="formElement">
                <div>
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" required />
                </div>
                <div>
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" required />
                </div>
            </div>
            <hr>
            <div class="formElement">
                <div>
                    <label for="password1">Password:</label>
                    <input type="password" id="password1" name="password1"
                       minlength="8" required placeholder="8 characters minimum" />
                </div>
                <div>
                    <label for="password2">Confirm:</label>
                    <input type="password" id="password2" name="password2"
                       minlength="8" required placeholder="passwords must match" />
                </div>
            </div>
            
            <hr>
            <div class="overlayButtons">
                <button type="submit">Register</button>
                <button type="reset" onclick="overlayOff('register');overlayOn('signin')">Cancel</button>
            </div>
        </form>
        
    </div>
</div>