<div class="searchFilterBar">
    <form method="get" action="/search">
        
        <div class="select-div">
            <select name="gameType">
                <option value="0">Select Game Type:</option>
                <option value="any">Any</option>
                <option value="dnd">Dungeons and Dragons</option>
                <option value="pathfinder">Pathfinder</option>
                <option value="cthulhu">Call of Cthulhu</option>
                <option value="gurps">GURPS</option>
                <option value="other">Other</option>
            </select>
        </div>
        
        <div class="select-div">
            <select name="region">
                <option value="0">Select Distance:</option>
                <option value="any">Any</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        
        <div class="select-div">
            <select name="sessionType">
                <option value="0">Select Post Type:</option>
                <option value="any">Any</option>
                <option value="lfm">Looking for Members</option>
                <option value="lfg">Looking for Group</option>
            </select>
        </div>
        
        <div class="select-div">
            <select name="displayPosts">
                <option value="0">Select Post Count:</option>
                <option value="any">Any</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </div>
        
        <div class="search-button">
            <button input type="submit">Search</button>
        </div>
        
    </form>
    <script src="/css/dropdown.js"></script>
</div>