<div id="signin" class="overlay">
    <div class="overlayContent">
        <h2>Sign in to Project Tabletop</h2>
        <hr>
        
        <div class="overlayButtons">
            Not registered?
            <button onclick="overlayOff('signin');overlayOn('register')">Sign up!</button>
        </div>
        <hr>
        
        <form id="signin" action="/signin" method="post" class="overlayForm">
        
            {{#if error}}
            <div class="formElement">
                <b>{{error.message}}</b>
            </div>
            {{/if}}
            
            <div class="formElement">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div class="formElement">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"
                   minlength="8" required placeholder="8 characters minimum" />
            </div>
            
            <hr>
            <div class="overlayButtons">
                <button type="submit">Sign in</button>
                <button type="reset" onclick="overlayOff('signin')">Cancel</button>
            </div>
            
        </form>
        
    </div>
</div>