<div id="signin" class="overlay">
    <div class="overlayContent">
        <h2>Sign in to Project Tabletop</h2>
        
        <form method="post" action="/signin" class="overlayForm">
            <div class="input">
                <!-- Username -->
                <!-- Password -->
            </div>
            
            <div class="overlayButtons">
                <a class="formButton" href="#register">Not registered? Sign up!</a>
            </div>
            
            <div class="overlayButtons">
                <a class="overlaySubmit" href="#">Submit</a>
                <a class="overlayCancel" href="#">Cancel</a>
            </div>
        </form>
        
    </div>
</div>