<body>
<h1>Project Tabletop</h1>

<h2>Tabletop Roleplayers' Group-finding Service</h2>

<div class="searchFilterBar">
    <div class="dropdown">
        <button class="dropbtn">Game Type
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Dungeons and Dragons</a>
            <a href="#">Pathfinder</a>
            <a href="#">Call of Cthulhu</a>
            <a href="#">GURPS</a>
            <a href="#">Other</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Region
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">10</a>
            <a href="#">25</a>
            <a href="#">50</a>
            <a href="#">100</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Session Type
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">LFM</a>
            <a href="#">LFG</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Display Posts
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">10</a>
            <a href="#">25</a>
            <a href="#">50</a>
            <a href="#">100</a>
        </div>
    </div>
</div>

</body>