<body>
<h1>Project Tabletop</h1>

<h2>Tabletop Roleplayers' Group-finding Service</h2>

<ul>
    <li><p>Game Type</p></li>
    <li><p>Region</p></li>
    <li><p>Session Type</p></li>
    <li><p>Display Posts</p></li>
</ul>
</body>