<table id="lfgPosts">
    <tr>
        <th>Action</th>
        <th>Session Type</th>
        <th>Game Type</th>
        <th>Miles</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    {{#each post}}
        <tr>
            <td>{{}} action (link user uses to interact with post)</td>
            <td>session type</td>
            <td>{{gameType}}</td>
            <td>15</td>
            <td>We're looking for a humble and friendly DM whose up for games on weekends in or aroun...</td>
            <td>10/16/2018</td>
        </tr>
    {{/each}}
</table>