<table id="posts">
    <tr>
        <th>Action</th>
        <th>Session Type</th>
        <th>Game Type</th>
        <th>Miles</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    {{#each post}}
        <tr>
            <td>Join</td>
            <td>LFM</td>
            <td>{{gameType}}</td>
            <td>{{miles}}</td>
            <td>{{description}}</td>
            <td>{{date}}</td>
        </tr>
    {{/each}}
</table>