.buttonBox {
    margin-left: 130px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.formButton {
    display: inline-block;
    background-color: aliceblue;
    border: 3px solid black;
    color: black;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Helvetica", serif;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
.formButton:hover {
    background: #696;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    visibility: hidden;
    z-index: 20;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.overlayContent {
    margin: 70px auto;
    padding: 20px;
    background: lightgrey;
    border-radius: 5px;
    height: 80%;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}
.overlayContent .content {
  overflow: auto;
}

.overlayForm {
    text-align: center;
}
.input div {
    padding-top: 10px;
}

.overlayButtons {
    text-align: center;
    margin-top: 10px;
}

.overlayCancel {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.overlayCancel:hover {
    background-color: darkgrey;
}

.overlaySubmit {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.overlaySubmit:hover {
    background-color: darkgrey;
}

@media screen and (max-width: 700px) {
    .buttonBox {
        width: 70%;
    }
    .overlayContent {
        width: 70%;
    }
}