.lfmBox {
    margin-left: 130px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.lfmButton {
    display: inline-block;
    background-color: aliceblue;
    border: 3px solid black;
    color: black;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Helvetica", serif;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3 ease-out;
}

.lfmButton:hover {
    background: #696;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    visibility: hidden;
    z-index: 99;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.postCreation {
    margin: 70px auto;
    padding: 20px;
    background: lightgrey;
    border-radius: 5px;
    height: 80%;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}

.postCreation h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.postCreation .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.postCreation .close:hover {
  color: #06D85F;
}

.postCreation .content {
  overflow: auto;
}

.postCreation .moduleButtons {
    text-align: center;
}

.postCreation .lfmCancel {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.postCreation .lfmCancel:hover {
    background-color: darkgrey;
}

.postCreation .lfmSubmit {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.postCreation .lfmSubmit:hover {
    background-color: darkgrey;
}

.postCreation .input {
    
}

@media screen and (max-width: 700px) {
    .lfmBox {
        width: 70%;
    }
    .postCreation {
        width: 70%;
    }
}