body {
    background-color: lightgrey;
    font-family: arial, sans-serif;
    font-size: 100%;
}

h1 {
    color: black;
    text-align: center;
    font-size: 300%;
    font-family: "Comic Sans MS", serif;
    margin: 50px 0 15px 0;
}

h2 {
    color: black;
    text-align: center;
    font-size: 200%;
    font-family: "Comic Sans MS", sans-serif;
    margin-bottom: 20px;
}

p, button, a {
    font-family: "Comic Sans MS", serif;
    text-decoration: none;
}

*:focus {
    outline: none;
}

.buttonBox {
    font-family: "Comic Sans MS", serif;
    text-align: right;
    margin: 20px 50px;
}
.buttonBox button,
.buttonBox a {
    display: inline-block;
    background-color: aliceblue;
    color: black;
    padding: 4px 14px 8px 14px;
    text-align: center;
    font-size: 110%;
    border: 3px solid black;
    border-radius: 5px;
}
.buttonBox button:hover,
.buttonBox a:hover {
    background: #696;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .buttonBox {
        width: 70%;
    }
    .overlayContent {
        width: 70%;
    }
}