.daysOfWeek {
    padding-left: 15px;
    margin-bottom: 20px;
}

.daysOfWeek label {
    padding-left: 30px;
}

.yesBox {
    padding-left: 15px;
}

.homPreButtons {
    padding-left: 15px;
    margin-bottom: 20px;
}

.homPreButtons label {
    padding-left: 30px;
}