#lfmPosts {
    font-family: "Comic Sans MS", serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#lfmPosts td, #lfmPosts th {
    border: 2px solid black;
    padding: 8px;
}

#lfgPosts {
    font-family: "Comic Sans MS", serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#lfgPosts td, #lfgPosts th {
    border: 2px solid black;
    padding: 8px;
}