.hide-element {
    display:none;
}

.searchFilterBar {
    position: relative;
    margin: 5px 0;
    text-align: center;
    background-color: lightgrey;
    font-family: "Comic Sans MS", serif;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
}

.select-div {
    display: inline-block;
    position: relative;
    color: black;
    text-align: left;
    font-size: 100%;
    margin: 5px;
    height: 40px;
}

.search-button {
    display: inline-block;
    position: relative;
    background-color: transparent;
    margin: 5px;
    height: 40px;
    width: 200px;
}
.search-button button {
    background-color: #696;
    text-align: center;
    font-size: 110%;
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.search-button button:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.option-list {
    position: absolute;
    background-color: #585;
    z-index: 10;
}
.option-list div {
    height: 38px;
    width: 200px;
    line-height: 38px;
    padding-left: 10px;
    border: 1px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.option-list div:hover,
.option-current {
    background-color: rgba(0, 0, 0, 0.2);
}

.select-current {
    height: 38px;
    width: 198px;
    line-height: 38px;
    padding-left: 10px;
    cursor: pointer;
    background-color: #696;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.select-current:hover {
    background-color: aliceblue;
}
/* The drop arrow */
.select-current:after {
    position: absolute;
    content: "";
    top: 19px;
    right: 10px;
    border: 6px solid transparent;
    border-top-color: #fff;
    border-bottom-color: transparent;
}
.select-current.active:after {
    top: 12px;
    border-top-color: transparent;
    border-bottom-color: #fff;
}