body {
    background-color: lightgrey;
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: "Comic Sans MS", serif;
    margin-bottom: 15px;
}

h2 {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: "Comic Sans MS", sans-serif;
    margin-bottom: 0;
}

p {
    font-family: "Comic Sans MS", serif;
}

.lfmButton {
    background-color: aliceblue;
    border: 3px solid black;
    color: black;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-family: "Helvetica", serif;
    margin-left: 1300px;
    margin-bottom: 5px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.searchFilterBar {
    overflow: hidden;
    background-color: lightgrey;
    font-family: "Comic Sans MS", serif;
    border: 3px solid black;
    border-radius: 5px;
}

.searchFilterBar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-left: 220px;
}

.searchFilterBar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 220px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#posts {
    font-family: "Comic Sans MS", serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#posts td, #posts th {
    border: 2px solid black;
    padding: 8px;
}