<!doctype html>
<html>
<head>
    <title>Project Tabletop</title>

    <link href="/css/general.css" rel="stylesheet" type="text/css">
    <link href="/css/searchFilter.css" rel="stylesheet" type="text/css">
    <link href="/css/buttons.css" rel="stylesheet" type="text/css">
    <link href="/css/postsTable.css" rel="stylesheet" type="text/css">
    <link href="/css/lfmPostsModule.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <h1>Project Tabletop</h1>
    
    <h2>Tabletop Roleplayers' Group-finding Service</h2>
    
    <div class="buttonBox">
        <a class="formButton" href="#signin">Sign in!</a>
        <a class="formButton" href="#lfmPostCreation">Create LFM Post</a>
    </div>
    
    {{> searchbar}}
    
    {{> signin}}
        {{> register}}
    {{> lfmPostModule}}
    
    {{{body}}}
</body>

</html>
