<!doctype html>
<html>
<head>
    <title>Project Tabletop</title>

    <link href="/css/general.css" rel="stylesheet" type="text/css">
    <link href="/css/searchFilter.css" rel="stylesheet" type="text/css">
    <link href="/css/postsList.css" rel="stylesheet" type="text/css">
    <link href="/css/overlay.css" rel="stylesheet" type="text/css">
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->
</head>

<body>
    <h1>Project Tabletop</h1>
    
    <h2>Tabletop Roleplayers' Group-finding Service</h2>
    
    <div class="buttonBox">
        {{#if auth}}
        <p>Welcome, {{name}}!</p>
        <a href='/logout'>Sign Out</a>
        <button onClick="overlayOn('newLfmPost')">Create LFM Post</button>
        <button onClick="overlayOn('newLfgPost')">Create LFG Post</button>
        {{else}}
        <button onclick="overlayOn('signin')">Sign in!</button>
        {{/if}}
    </div>
    
    {{> searchbar}}
    
    {{> signin}}
        {{> register}}
    {{> newLfmPost}}
    {{> newLfgPost}}
    
    {{{body}}}
    
    <script src="/css/index.js"></script>
</body>
</html>
